<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>  
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/> 
    <mvc:default-servlet-handler /> 

	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.xyz.eznuoche,com.xyz.tools.web.common.action"
		use-default-filters="false" scoped-proxy="targetClass">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
    <bean id="dateConvert" class="com.xyz.tools.web.convert.DateConvert"/>
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConvert"/>
            </set>
        </property>
    </bean>

    <mvc:annotation-driven  conversion-service="conversionService">
      <mvc:message-converters register-defaults="true">
        <bean class="org.springframework.http.converter.StringHttpMessageConverter"> 
            <constructor-arg value="UTF-8" />        
        </bean>
         <!-- 避免返回JSON出现下载文件 -->
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	       <property name="objectMapper">
	           <bean class="com.xyz.tools.web.convert.CustomDataJsonMapper" >
	             <!-- <property name="serializationInclusion">
	                  <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>
	              </property> -->
	           </bean>
	       </property>
	       <property name="supportedMediaTypes">
             <list>
              <value>application/json;charset=UTF-8</value>
             </list>
          </property>
	    </bean>
      </mvc:message-converters>
    </mvc:annotation-driven>
    
    <mvc:resources location="/" mapping="/static/**"/>

	<bean id="contentNegotiationManager"  class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
       <property name="favorParameter" value="true"/>
       <property name="parameterName" value="format"/>
       <property name="ignoreAcceptHeader" value="false"/>
       <property name="mediaTypes">
           <value>
                json=application/json
                xml=application/xml
                html=text/html
            </value>
       </property>
       <property name="defaultContentType" value="text/html"/>
    </bean> 
	
	<!-- freemarker的配置 -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPaths">
		    <list>
                <value>/WEB-INF/ftl/</value>
                <value>classpath:/META-INF/resources/WEB-INF/ftl/</value>
            </list>
		</property>
		<property name="defaultEncoding" value="utf-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">10</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
			</props>
		</property>
		<property name="freemarkerVariables">
            <map>
            	<entry key="RespEncoder" value-ref="RespEncoder"/>
                <entry key="Value" value-ref="Value"/>
                <entry key="ValueMap" value-ref="ValueMap"/>
                <entry key="NRSubmit" value-ref="NRSubmit"/>
                <entry key="LinkNRSubmit" value-ref="LinkNRSubmit"/>
                <entry key="ContainStr" value-ref="ContainStr"/>
            </map>
        </property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix">
			<value>.html</value>
		</property>
		<property name="contentType" value="text/html;charset=UTF-8"></property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="83886080" /><!-- 80M -->
		<property name="maxInMemorySize" value="2048" />
	</bean>
	
	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="synchronizeOnSession" value="true" />
		<property name="customArgumentResolvers">
		  <list>
		    <bean class="com.ujigu.secure.web.aop.StringArgResolver" />
		  </list>
		</property>
	</bean> -->
	
	<mvc:interceptors>
	    <mvc:interceptor>
          <mvc:mapping path="/**"/>
          <mvc:exclude-mapping path="/error/**"/>
          <mvc:exclude-mapping path="/_mgr/**"/>
          <mvc:exclude-mapping path="/wxpay/callback.do"/>
          <bean class="com.xyz.tools.web.aop.InviteCodeInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/error/**"/>
            <mvc:exclude-mapping path="/ping/pang.do"/>
            <mvc:exclude-mapping path="/wxpay/callback.do"/>
            <mvc:exclude-mapping path="/_mgr/**"/>
            <mvc:exclude-mapping path="/wx/**"/>
            <mvc:exclude-mapping path="/sms/**"/>
            <bean class="com.xyz.eznuoche.aop.WxAuthInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/error/**"/>
            <mvc:exclude-mapping path="/ping/pang.do"/>
            <mvc:exclude-mapping path="/_mgr/**"/>
            <mvc:exclude-mapping path="/toIndex.do"/>
            <mvc:exclude-mapping path="/wxpay/callback.do"/>
            <mvc:exclude-mapping path="/sms/**"/>
            <mvc:exclude-mapping path="/wx/**"/>
            <mvc:exclude-mapping path="/bindUser/sms/send.do"/>
            <mvc:exclude-mapping path="/bindUser.do"/>
            <mvc:exclude-mapping path="/servAppoint/toPage.do"/>
            <bean class="com.xyz.tools.web.aop.SessionInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
          <mvc:mapping path="/*/notify.do"/>
          <bean class="com.xyz.eznuoche.aop.WxBindInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/bindUser/sms/send.do"/>
            <bean class="com.xyz.tools.web.aop.PhoneExistCheckInterceptor">
              <property name="phoneExistChecker">
                <bean class="com.xyz.eznuoche.aop.UserExistChecker" />
              </property>
            </bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/bindUser.do"/>
            <bean class="com.xyz.tools.web.aop.PhoneCodeValidInterceptor" />
        </mvc:interceptor>
        
    </mvc:interceptors>

</beans>
