<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   <dubbo:application name="${project.name}" logger="slf4j" />
   <!--  <dubbo:registry address="multicast://239.5.6.7:1234?unicast=false"/>  -->
   
    <dubbo:registry address="zookeeper://${zk.servers}" client="curator" />
   
    <dubbo:reference group="acl" id="workerService" interface="com.xyz.acl.remote.IWorkerService" timeout="3000" cluster="failover" check="false" />
	<dubbo:reference group="acl" id="departService" interface="com.xyz.acl.remote.IDepartService" timeout="3000" cluster="failover" check="false" />

</beans>